.grafico1RO{
    display: grid;    
    position: absolute;
    top:11rem;
    left: 8rem;
    width: 40rem;    
    height: 34rem;
}

.grafico2RO{
    display: grid;    
    position: absolute;
    top:11rem;
    left: 50rem;
    width: 40rem;    
    height: 34rem;
}

.grafico3{
    display: grid;    
    position: absolute;
    top:37rem;
    left: 8rem;
    width: 40rem;    
    height: 35rem;    
}

.grafico4{
    display: grid;    
    position: absolute;
    top:37rem;
    left: 50rem;
    width: 40rem;    
    height: 35rem;    
}


.dropdown_ReportesOperarios{
    position: absolute;
    top:1rem;
    left: 92%;
}

.dropdown_ReportesOperarios > ul{
    cursor:pointer; 
}

.tituloTool{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1%;
    top: 10%;
    left: 8%;    
}

.tituloTool>p{
    font-size: medium;
}

.contenidoHerramienta{
    color:bisque;
}

.dropdown_Reportes_Operarios{
    position: absolute;
    top:1rem;
    left: 85%;
}