#nav-tabKit{
    position: absolute;
    top:4rem;
    left:2.1rem;
}

#nav-tabContentKit{
    position: absolute;
    top:8rem;
    left:2rem;
}

.valor_atributo{
    font-weight: lighter;    
}

.atributo_lista{
    display: flex;
    font-weight: bolder;
    flex-direction: row;
    justify-content: space-between;
}

.tarjeta_kit{
    width: 30rem;
}

.last_oper{
    margin-top: 2rem;
    width: 30rem;
    max-height: 18.3rem;
    overflow: auto;
}

.tarjeta_img_kit{    
    position: absolute;
    top: 0rem;
    left:32rem;
    width: 63rem;
    height:39.7rem;  
    overflow: auto;  
}
.proveedor{
    position: absolute;
    top: 0rem;
    left:69rem;
    width: 26rem;
}

#icobtn{
    align-self: center;       
}
