:root{
    --Primary-primary-500: #1570EF;
    --Grey-grey-600: #5D6679;
    --Grey-grey-400: #858D9D;
    --Primary-primary-600: #1366D9;
}

#bar_busq{
    display: flex;
    flex-direction: row;    
    width: 30rem;
    padding: 0.625rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--Grey-grey-50, #F0F1F3);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
}

#icon_busq{
    display: flex;    
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#entratexto{
    display: flex;    
    color: var(--Grey-grey-400, #858D9D);
    font-family: "Verdana", Sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;        
}

#b_busca{
    display: flex;
    padding: 0.625rem 1.5625rem 0.625rem 1rem;
    border-radius: 0.25rem;
    background: var(--Primary-primary-600, #1366D9);
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #FFF;
    font-family: "Verdana", Sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.25rem;
    border-color: #FFF;
}