:root{
    --Grey-grey-500: #667085;
    --Grey-grey-600: #5D6679;
}

.iconoinfo{
    display: flex;
    position:relative;    
    margin-top: 2.5rem;
    width: 7.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    gap: 0.7rem;
}

.iconopanel{       
    display: flex;
    align-items: center;
    width: 1.875rem;
    height: 1.875rem;    
}

.texticopanel{    
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.canttextpanel{
    color: var(--Grey-grey-600, #5D6679);
    font-family: "Verdana", Sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 0rem;
}

.nametextpanel{
    color: var(--Grey-grey-500, #667085);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    font-size: 0.76rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 0rem;
}