.textinfopanel{    
    width:max-content;
    display: flex;
    flex-direction: column;            
    border-width: 0.2rem;
    justify-content: center;  
}

.titletextpanel{    
    font-family: "Verdana", Sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
 }

.canttextpanel{
   color: var(--Grey-grey-600, #5D6679);
   font-family: "Verdana", Sans-serif;
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: 1.5rem;
   text-align: center;
}

.periotextpanel{    
    color: var(--Grey-grey-400, #858D9D);
    font-family: "Verdana", Sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
}

#total_Kits{
    color:#1570EF;
}

#total_Tools{
    color: #E19133;
}

#total_Out{
    color: #845EBC;
}

#bajos_Inven{
    color: #F36960;
}