.modal_completo{
    position: absolute;
    left:21.5rem;
    top:18rem;
    display: flex;
    width: 98rem;
    height: 38.3rem;    
    border-radius: 0.5rem;
    background: #FFF;
    align-items: flex-start;
    align-content: flex-start;    
    flex-wrap: wrap;
}

.btn_ModalCompleto{
    position:absolute;
    top: 0.8rem;
    right: 1rem;
    display: flex;
    flex-direction: row;        
    width: max-content;
}

.modal_Form{
    position: absolute;
    padding-top: 4rem;
    left:21.5rem;
    top:8rem;
    display: flex;
    flex-direction: column;        
    width: 40rem;
    height: 45.3rem;    
    border-radius: 0.5rem;
    background: #FFF;
    align-items:center;          
}

.btn_Modal_Form{
    position:absolute;
    bottom: 1.5rem;
    justify-self: center;    
    display: flex;
    flex-direction: row;        
    width: max-content;
    gap: 10%;
}

.titlepanel{
    position: absolute;    
    width:max-content;
    height:max-content;
    top: 0.5rem;
    left: 1rem;    
    color: var(--Grey-grey-800, #383E49);    
    font-family: "Verdana", Sans-serif;
    font-size:larger;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}