.modal_intermedio{
    position: absolute;
    left:21.6rem;
    top:18rem;
    display: flex;
    width: 97.9rem;
    height: 38.3rem;    
    border-radius: 0.5rem;
    background: #FFF;
    align-items: flex-start;
    align-content: flex-start;    
    flex-wrap: wrap;
    overflow: auto;
}

.modal_completo{
    position: absolute;
    left:21.6rem;
    top:7.4125rem;
    display: flex;
    width: 97.9rem;
    height: 48.88rem;    
    border-radius: 0.5rem;
    background: #FFF;
    align-items: flex-start;
    align-content: flex-start;    
    flex-wrap: wrap;
    overflow: auto;
}

.btn_ModalIntermedio{
    position:absolute;
    top: 0.8rem;
    right: 1rem;
    display: flex;
    flex-direction: row;        
    width: max-content;    
}

.modal_Form_add_tool{    
    padding-top: 4rem;
    left: -5rem;  
    top:2rem;    
    display: flex;
    flex-direction: column;        
    width: 50rem;
    height: 50.3rem;    
    border-radius: 0.5rem;
    background: #FFF;
    align-items:center;        
    overflow:auto;  
}

.btn_Modal_Form_add_tool{
    position:absolute;    
    bottom: 1.5rem;
    justify-self: center;    
    display: flex;
    flex-direction: row;        
    width: max-content;    
    gap: 15%;
}

.titlepanel{
    position: absolute;    
    width:max-content;
    height:max-content;
    top: 0.5rem;
    left: 1rem;    
    color: var(--Grey-grey-800, #383E49);    
    font-family: "Verdana", Sans-serif;
    font-size:larger;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}