.panelListaP{    
    display: flex;
    flex-direction: column;     
    top: 7.3rem;
    left: 85.9rem;   
    padding: 3.8rem 2.1rem 1rem 2.1rem;    
    align-items: center;
    width: 33.65rem;
    height: 20.9rem;
    overflow: auto;        
    flex-shrink: 0;        
}

.titlepanelL{
    position: absolute;
    margin-top: 6px;
    width:max-content;
    height: max-content;
    top: 5px;
    left: 16px;           
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}