:root{
    --Grey-grey-600: #5D6679;
    --Azultabla: #007aa5;
}

.tabla{
   border-radius: 0.8rem;   
   background: #FFF;   
   height: 100%;
   color-scheme: var(--Azultabla);
}

.tabla_Panel{
    position: absolute;
    box-shadow: 0.5rem 0.5rem 0.25rem lightblue;
    top: 29.1rem;
    left: 85.8rem;    
    width: 33.65rem;   
    height: 27.45rem;     
} 

.tabla_Inventario{
   position: absolute;
   top: 3.8rem;
   left: 1rem;    
   width: 96rem;
   height: 27.5rem;   
}

 thead {
    text-align: center;        
    font-family: "Verdana", Sans-serif;
    color: var(--Azultabla, #007aa5);
    font-size: 0.875rem;
    font-style:normal;
    font-weight:bold;      
    border-left: 0;
    border-right: 0;
    font-weight: normal;            
    top: 0;  
 }

 tbody{
    text-align: center;    
    color: var(--Grey-grey-600, #5D6679);
    font-family: "Verdana", Sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;         
    border-left: 0;
    border-right: 0;
    font-weight: normal;          
    top: 0;   
 } 

 th {
    vertical-align:middle;    
    border-radius: 0.8rem;
 }

 td {
    vertical-align:middle;    
 }
 tr{
   height:auto;   
 }

 tfoot{
    border-radius: 0.8rem;
 }
 
 