.img_ContPreview{
    display: flex;
    flex-direction: row;    
    gap: 8%;
    justify-content: space-evenly;
    padding-bottom: 5%;    
}

#img_Pre{    
    max-height: 13rem;
    border-radius: 0.5rem;
    overflow: hidden; 
}   

#in_img{
    display: flex;
    flex-direction: column;
}

.formulario{     
    display: flex;
    flex-direction: column;  
    position: absolute; 
    top: 15%;
    left:29%;        
}

.inputNoImgAdd{
    column-count: 2;
    column-gap: 20%;  
    justify-content: space-evenly;   
}

.error-form{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.modal_Form_add_tool{    
    padding-top: 4rem;
    left: 35rem;  
    top:4rem;    
    display: flex;
    flex-direction: column;        
    width: 50rem;
    height: 50.3rem;    
    border-radius: 0.5rem;
    background: #FFF;
    align-items:center;        
    overflow:auto;  
}

#icobtn{
    align-self: center;       
}

.boton{ 
    display:flex;        
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width:max-content;    
}

.btn_ModalIntermedio{
    position:absolute;
    top: 0.8rem;
    right: 1rem;
    display: flex;
    flex-direction: row;        
    width: max-content;    
}

